.flexRowContainerCompany{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 5px;
    width: 100%;
}

.flexRowContainerScale{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    -moz-column-gap: 5px;
    column-gap: 10px;
    width: 100%;
    align-content: center;
    align-items: center;
}

.graficContainer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;}

.graficContainerRow{
    width: 97%;
    display: flex;
    justify-content: right;
    align-content: start;
}

.graficContainerRowCenter{
    width: 100%;
    display: flex;
    justify-content: right;
    align-content: start;
}

.sacleContainer{
    /* width: 15%; */
    /* height: 300px; */
    /* position: absolute; */
    /* bottom: 20%; */

}

.w100{
    width: 100%;
}

.w18{
    width: 18%;
}

.w80{
    width: 80%;
}

.redSq{
    height: 50px;
    width: 50px;
    background-color: red;
}

.orangeSq{
    height: 50px;
    width: 50px;
    background-color: orange;
}

.yellowSq{
    height: 50px;
    width: 50px;
    background-color: yellow;
}

.greenSq{
    height: 50px;
    width: 50px;
    background-color: green;
}

.fontSq{
    font-size: 26px;
}

.leftTitle{
    margin-bottom: 15%!important;
    /* left: 7%; */
}

.flexContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}