body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 100vW;
  height: 100vH;
  font-family: sans-serif;
}

code {
  white-space: pre-wrap;
  word-break: break-all;
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
  margin: 0;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}